* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --primary-color : white;
    --footer-header : rgb(8, 8, 8);
    --h1-color: black;
    --card-color: rgb(151, 145, 145);
 
}
.darkmode{
    --primary-color : black;
    --h1-color: white;
    --card-color: rgb(95, 94, 95);
    --footer-header : rgb(59, 58, 58);
    
}
main{
    background-color: var(--primary-color);
}
.mode img{
    width: 30px;
    color: black;
}
.mode{
    position: fixed;
    right: 2.5%;
    background-color: var(--h1-color);
    padding: 0.4rem 0.5rem;
    border-radius: 50%;
    border: 1px solid rgb(95, 93, 93);
    cursor: pointer;

}
nav {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    background-color: var(--footer-header);
    color: white;
}
.logo img{
    border-radius: 10px;
    height: 60px;
    width: 60px;
    
}
ul {
    display: flex;
    gap: 1.5rem;
}

.menu {
    display: none;
}

.nav-menu a{
    color: rgb(255, 255, 255);
}

ul li,.logo{
    transition: .2s ease-in-out;    
    cursor: pointer;
}
ul li:hover{
    transform: scale(1.1);
    color: rgb(156, 30, 30);

}
.logo:hover{
    transform: scale(1.1);
}
.heading1 h1,.heading2 h1{
    color: var(--h1-color);
    padding: 3rem 0 3rem 0; 
    font-size: 2.2rem;
    text-align: center;
    transition: .5s ease-in-out;   
}
.heading2 h1:hover{
    text-decoration: underline;
    text-decoration-color:  rgb(143, 39, 13);
    text-transform: uppercase;
}
.heading1 h1:hover{
    text-decoration: underline;
    text-decoration-color:  rgb(143, 39, 13);
    text-transform: uppercase;
}
.miniproject{
    margin: 3rem 2rem;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    height: 420px;
    width: 32%;
    box-shadow: 0 2px 4px 0 rgb(206, 205, 205), 0 3px 10px 0 rgba(189, 188, 188, 0.19);
    background-color: var(--card-color);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card img, .desc h2, .desc p{
    transition: .5s ease-in;
}
.card img:hover{
    transform: scale(1.1);
}
.desc h2:hover{
    transform: scale(1.075);  
}
.desc p:hover{
    transform: scale(1.05);   
}
.img img{
    border-radius: 10px;
    margin-top: 1rem;
    height: 240px;
    width: 90%;
    /* object-fit: fill; */
}
.desc{
    padding: 0.51rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.miniproject a{
    color: black;
}
.desc p{
    width: 90%;
}
.l-projects{
    display: flex;
    justify-content: center;
    align-items: center;
}
.largeproject{
    height: 32rem;
    background-color: var(--primary-color);
}
.l-project1{
    /* height: 25rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 82%;
    box-shadow: 0 2px 4px 0 rgb(206, 205, 205), 0 3px 10px 0 rgba(189, 188, 188, 0.19);
    background-color: var(--card-color);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}
.circle{
    display: flex;
    gap: 1px;
}
.dot{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: black;
    animation: updowndot 0.9s linear infinite alternate;
}
.dot:nth-child(2){
    animation-delay: 0.3s;
    background-color: red;
}
.dot:nth-child(3){
    animation-delay: 0.6s;
    background-color: green;
}
.dot:nth-child(4){
    animation-delay: 0.9s;
    background-color: blue;
}
@keyframes updowndot {
    0%{
        transform: translateY(-7px);
    }
    100%{
        transform: translateY(7px);
    }
}
footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    background-color: var(--footer-header);
    color: white;
}
.copyr{
    font-size: 1.5rem;
    padding: 2rem; 
}
.links img{
    margin: 1rem;
    height: 50px;
    width: 50px;
    transition: .2s ease-in-out;
}
.links img:hover{
    transform: scale(1.1);
}
.github img{
    margin: 1rem;
    height: 50px;
    width: 100px;
}
.copyr h4{
    text-align: center;
}
.top{
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(95, 50, 50);
    font-size: 1.9rem;
    height: 3rem;
    width: 3rem;
    bottom: 2.5rem;
    right: 2rem;
    transition: all .5s ease-out;
    border: 1px solid rgb(95, 93, 93);
}
.top:hover{
    background-color: rgb(90, 35, 35);
    font-size: 2.5rem;
    color: white;
}
html{
    scroll-behavior: smooth;
}




@media (width < 835px){
    nav {
        padding: 2rem 0;
    }

    .menu {
        display: block;
        font-size: 2rem;
        padding-right: 1rem;
    }

    .logo {
        padding-left: 1rem;
    }

    .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0;
        height: 100vh;
        top: 6.5rem;
        background-color: rgb(182, 180, 180);
        overflow: hidden;
    }

    li {
        font-size: 2rem;
        margin-top: 2.5rem;
    }
    .nav-menu.active {
        left: 0;
        width: 100%;
    }

}
@media (width < 500px) {
    .card{
        width: 95%;
    }
}
@media (480px < width < 868px) {
    .miniproject{
        gap: 0.5rem;
    }
    .card{
        height: 440px;
        width: 47.5%;
    }
}
@media (width < 500px){
    .links{
        display: flex;
        flex-direction: column;
    }
    footer{
        height: max-content;
    }
    .github img{
        margin: 0;
        padding: 0;
    }
    .card{
        height: 440px;
        width: 97.5%;
    }
}