* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    background-color: black;
    color: white;
}
.logo img{
    border-radius: 10px;
    height: 60px;
    width: 60px;
    
}
ul {
    display: flex;
    gap: 1.5rem;

}

.menu {
    display: none;
}

.nav-menu a{
    color: rgb(255, 255, 255);
}

ul li,.logo{
    transition: .2s ease-in-out;    
    cursor: pointer;
}
ul li:hover{
    transform: scale(1.1);
    color: rgb(156, 30, 30);

}
.logo:hover{
    transform: scale(1.1);

}
.miniproject{
    margin: 3rem 2rem;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    height: 420px;
    width: 32%;
    box-shadow: 0 2px 4px 0 rgb(206, 205, 205), 0 3px 10px 0 rgba(189, 188, 188, 0.19);
    background-color: rgb(209, 203, 206);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}
/* .card img:hover{
    transform: scale(1.1);
} */
.img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card img, .desc h2, .desc p{
    transition: .5s ease-in;
}
.card img:hover{
    transform: scale(1.1);
}
.desc h2:hover{
    transform: scale(1.075);  
}
.desc p:hover{
    transform: scale(1.05);   
}
.img img{
    border-radius: 10px;
    margin-top: 1rem;
    height: 240px;
    width: 90%;
    /* object-fit: fill; */
}
.desc{
    padding: 0.51rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.miniproject a{
    color: black;
}
.desc p{
    width: 90%;

}




@media (width < 835px){
    nav {
        padding: 2rem 0;
    }

    .menu {
        display: block;
        font-size: 2rem;
        padding-right: 1rem;
    }

    .logo {
        padding-left: 1rem;
    }

    .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0;
        height: 100vh;
        top: 6.5rem;
        background-color: rgb(182, 180, 180);
        overflow: hidden;
    }

    li {
        font-size: 2rem;
        margin-top: 2.5rem;
    }
    .nav-menu.active {
        left: 0;
        width: 100%;
    }

}
@media (width < 500px) {
    .card{
        width: 95%;
    }
}
@media (480px < width < 868px) {
    .miniproject{
        gap: 0.5rem;
    }
    .card{
        height: 440px;
        width: 47.5%;
    }
}