* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    background-color: black;
    color: white;
}
.logo img{
    border-radius: 10px;
    height: 60px;
    width: 60px;
    
}
ul {
    display: flex;
    gap: 1.5rem;

}

.menu {
    display: none;
}

.nav-menu a{
    color: rgb(255, 255, 255);
}

ul li,.logo{
    transition: .2s ease-in-out;    
    cursor: pointer;
}
ul li:hover{
    transform: scale(1.1);
    color: rgb(156, 30, 30);

}
.logo:hover{
    transform: scale(1.1);
}
.htmlprogress,.cssprogress,.jsprogress{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0;
    margin: 3rem 0;
    width: 85vw;
    gap: 1rem;
    border-radius: 10px;
    background-color: rgb(199, 199, 199);
    transition: .2s ease-in-out;
    box-shadow: 0 2px 4px 0 rgb(206, 205, 205), 0 3px 10px 0 rgba(189, 188, 188, 0.19);
}
.jsprogress:hover{
    transform: scale(1.1);
}
.htmlprogress:hover{
    transform: scale(1.1);
}
.cssprogress:hover{
    transform: scale(1.1);
}
.htmlprogress p,.cssprogress p,.jsprogress p{
    padding: 2rem 1rem;
}

.html,.js,.css{
    height: 40px;
    width: 80vw;
    background-color: #f2f2f2;
    border: 1px solid blue;
    border-radius: 5px;
}
.htmlbar{
    height: 38px;
    background-color: blue;
    width: 81%;
    border-radius: 5px;
}

span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cssbar{
    height: 38px;
    background-color: blue;
    width: 86%;
    border-radius: 5px;
}
.jsbar{
    height: 38px;
    background-color: blue;
    width: 69%;
    border-radius: 5px;
}
.progressbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem 0;
}





footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    background-color: black;
    color: white;
}
.copyr{
    font-size: 1.5rem;
    padding: 2rem; 
}
.links img{
    margin: 1rem;
    height: 50px;
    width: 50px;
}
.github img{
    margin: 1rem;
    height: 50px;
    width: 100px;
}
.copyr h4{
    text-align: center;
}
.top{
    background-color: rgb(4, 92, 33);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:  white;
    font-size: 1.9rem;
    height: 3rem;
    width: 3rem;
    bottom: 2.5rem;
    right: 2rem;
    transition: all .5s ease-out;
}
.top:hover{
    background-color: rgb(255, 255, 255);
    font-size: 2.5rem;
    color: rgb(3, 78, 32);
}
html{
    scroll-behavior: smooth;
}






@media (width < 835px){
    nav {
        padding: 2rem 0;
    }

    .menu {
        display: block;
        font-size: 2rem;
        padding-right: 1rem;
    }

    .logo {
        padding-left: 1rem;
    }

    .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0;
        height: 100vh;
        top: 6.5rem;
        background-color: rgb(182, 180, 180);
        overflow: hidden;
    }

    li {
        font-size: 2rem;
        margin-top: 2.5rem;
    }
    .nav-menu.active {
        left: 0;
        width: 100%;
    }

}
@media (width < 300px){
    .links{
        display: flex;
        flex-direction: column;
    }
    footer{
        height: max-content;
    }
    .github img{
        margin: 0;
        padding: 0;
    }
}