* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --primary-color : white;
    --footer-header : rgb(8, 8, 8);
    --h1-color: black;
    --card-color: rgb(151, 145, 145);
    --progressbar-color: #f2f2f2;
    
}
.darkmode{
    --progressbar-color: rgb(189, 180, 180);
    --primary-color : black;
    --h1-color: white;
    --card-color: rgb(95, 94, 95);
    --footer-header : rgb(59, 58, 58);
    
}
.mode img{
    width: 30px;
    color: black;
}
.mode{
    position: fixed;
    right: 2.5%;
    background-color: var(--h1-color);
    padding: 0.4rem 0.5rem;
    border-radius: 50%;
    border: 1px solid rgb(95, 93, 93);
    cursor: pointer;
}
main{
    background-color: var(--primary-color);
}
nav {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    background-color: var(--footer-header);
    color: white;
}
.logo img{
    border-radius: 10px;
    height: 60px;
    width: 60px;
    
}
ul {
    display: flex;
    gap: 1.5rem;

}

.menu {
    display: none;
}

.nav-menu a{
    color: rgb(255, 255, 255);
}

ul li,.logo{
    transition: .2s ease-in-out;    
    cursor: pointer;
}
ul li:hover{
    transform: scale(1.1);
    color: rgb(156, 30, 30);

}
.logo:hover{
    transform: scale(1.1);
}
.htmlprogress,.cssprogress,.jsprogress{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0;
    margin: 3rem 0;
    width: 85vw;
    gap: 1rem;
    border-radius: 10px;
    background-color: var(--card-color);
    transition: .2s ease-in-out;
    box-shadow: 0 2px 4px 0 rgb(206, 205, 205), 0 3px 10px 0 rgba(189, 188, 188, 0.19);
}
.jsprogress:hover{
    transform: scale(1.06);
}
.htmlprogress:hover{
    transform: scale(1.06);
}
.cssprogress:hover{
    transform: scale(1.06);
}
.htmlprogress p,.cssprogress p,.jsprogress p{
    padding: 2rem 1rem;
}

.html,.js,.css{
    height: 40px;
    width: 80vw;
    background-color: var(--progressbar-color);
    border: 1px solid blue;
    border-radius: 5px;
}
.htmlbar{
    height: 38px;
    background-color: blue;
    width: 81%;
    border-radius: 5px;
    animation: html-bar 2s ease-out;

}
@keyframes html-bar {
    0%{
        width: 0%;
    }
    100%{
        width: 81%;
    }
}

span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cssbar{
    height: 38px;
    background-color: blue;
    width: 86%;
    border-radius: 5px;
    animation: css-bar 2.5s ease-out forwards;

}
@keyframes css-bar {
    0%{
        width: 0%;
    }
    100%{
        width: 86%;
    }
}
.jsbar{
    height: 38px;
    background-color: blue;
    width: 69%;
    border-radius: 5px;
    animation: js-bar 2.5s ease-out;

}
@keyframes js-bar {
    0%{
        width: 0%;
    }
    100%{
        width: 69%;
    }
}
.progressbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;
}
.htmlbar,.cssbar,.jsbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    background-color: var(--footer-header);
    color: white;
}
.copyr{
    font-size: 1.5rem;
    padding: 2rem; 
}
.links img{
    margin: 1rem;
    height: 50px;
    width: 50px;
    transition: .2s ease-in-out;
}
.links img:hover{
    transform: scale(1.1);
}
.github img{
    margin: 1rem;
    height: 50px;
    width: 100px;
}
.copyr h4{
    text-align: center;
    /* color: var(--h1-color); */
}
.top{
    background-color: blue;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:  white;
    font-size: 1.9rem;
    height: 3rem;
    width: 3rem;
    bottom: 2.5rem;
    right: 2rem;
    transition: all .5s ease-out;
}
.top:hover{
    background-color: rgb(255, 255, 255);
    font-size: 2.5rem;
    color: blue;
}
html{
    scroll-behavior: smooth;
}






@media (width < 835px){
    nav {
        padding: 2rem 0;
    }

    .menu {
        display: block;
        font-size: 2rem;
        padding-right: 1rem;
    }

    .logo {
        padding-left: 1rem;
    }

    .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0;
        height: 100vh;
        top: 6.5rem;
        background-color: rgb(182, 180, 180);
        overflow: hidden;
    }

    li {
        font-size: 2rem;
        margin-top: 2.5rem;
    }
    .nav-menu.active {
        left: 0;
        width: 100%;
    }

}
@media (width < 300px){
    .links{
        display: flex;
        flex-direction: column;
    }
    footer{
        height: max-content;
    }
    .github img{
        margin: 0;
        padding: 0;
    }
}